/*Common Elements*/
body {
    font-size: 67.5%;
    font-family: Lato, Geneva, sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
    
}

h1 {
    color: #A57C45;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h2 {
    color: #A57C45;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #555;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}

ol {
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}
ol li {
    margin: 0;
    padding: 0 0 0.2em;
}
a, a:visited {
    color: #C64322;
}
a:hover {
    color: #e5ba81;
}
hr {
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}


/*Header*/

header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
}

.banner-img {
    background-image: linear-gradient(45deg,
    rgba(255,255,255, .9),
    rgba(255,255,255, 0)), url(assets/doodlebanner.jpg);
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
header h1 {
    font-family: "Times New Roman", Times, serif;
    color: #745b2f;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;
}
header h2 {
    font-weight: 300;
    font-size: 3.8em;
    color:#745b2f;
    margin: -0.4em 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
/*Nav Bars*/
nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0;
    display: inline-block;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #745b2f;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #745b2f;
    background-color: rgba(252,251,243,0.75);
}

/*Main Section*/


.wrapper {
    display: grid !important;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

.box {
    background-color: #F7F6EF;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.item1 {
    grid-column: 1 / 3;
    grid-row: 1;
}
.item2 {
    grid-column: 3;
    grid-row: 1 / 3; 
}
.item3 {
    grid-column: 1;
    grid-row: 2;    
}
.item4 {
    grid-column: 2;
    grid-row: 2; 
}

.DoodleType1 {
    width: 100%;
    border-radius: 20px;
   
} 
.DoodleType2 {
    width: 100%;
    border-radius: 20px;
   
} 
.DoodleType3 {
    width: 300px;
    border-radius: 20px;
   
} 
.DoodleType4 {
    width: 300px;
    border-radius: 20px;
   
} 

/*Footer*/
footer {
    background-color: #40362f;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/*Buttons*/
button {
    color: #C64322;
    background-color: #fff;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #C64322;
    text-transform: uppercase;
}
button:hover {
    background-color: #FBF3DB;
    border: 1px solid #745b2f;
}